language: minimal

before_install:
    - make env

script:
    - make test
    - make build

before_deploy:
    - make clean
    - make sphinxcontrib_verilog_diagrams/version.py
    - sudo ln -sf /usr/bin/python3 /usr/bin/python

deploy:
  provider: pypi
  username: __token__
  distributions: sdist bdist_wheel
  skip_existing: true
  edge: true # opt in to dpl v2
