name: sphinxcontrib-verilog-diagrams
channels:
- symbiflow
- conda-forge
- defaults
dependencies:
- docutils
- graphviz      # Needed for dot
- netlistsvg
- nodejs
- pip
- python=3.7
- sphinx
- yosys
- pip:          # Packages installed from PyPI
  - -r file:requirements.txt
  - -r file:docs/requirements.txt
  - .
